.popup-group {
    align-items: center;
    justify-content: center;
}
.login-popup, .register-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 350px;
    
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display:none;
    align-items: center;
    justify-content: center;
    /* transform: scale(0);
    transition: transform .5s ease, height .2s ease; */
    margin: auto;
}
.register-popup {
    height: 540px;
}
.login-popup.active, .register-popup.active {
    transform: scale(1);
}

.icon-close-login, .icon-close-register {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 4px;
    margin-right: 4px;
    font-size: 2em;
    align-items: center;
}
.form-box {
    width: 100%;
    padding: 40px;
}
.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center; 
}
.form-box .input-box {
    position: relative;
    width: 100%;
    height: 55px;
    margin: 15px 5px;
    border-bottom: 2px solid #162938;
    
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}
.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    /* padding: 0 35px 0 5px; */
}
.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}
.terms-checkbox {
    margin-right: 8px;
    margin-bottom: 20px;
}
.btn-login-submit, .btn-register-submit {
    width: 100%;
    height: 45px;
    margin-top: 10px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin-top: 10px;
}
.login-register p a {
    color: #0ba4eb;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

#owner-layout {
    width: 100%;
    height: 100%;
}
#driver-layout {
    width: 100%;
    height: 100%;
}