.my-bookings-container {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 8px;
    background: #EEE;
    flex: 1;
}

#my-bookings {
    height: 100%;
    width: 100%;
    padding-inline-start: 0px;
    background: rgb(245, 245, 242);
    overflow: hidden;
    overflow-y: scroll;
}
.li-space-item {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.booking-item {
    
    display: flex;
    align-items: center;
}
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox */
.space-item-type {
    width: 70px;
    height: 70px;
    background-color: white;
    margin: 2px 2px;
    padding: 2px;
}
.space-name-time {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 8px;
    height: 100%;
}
.space-name {
    font-size: 1.1em;
    margin: 2px;
}
.space-time {
    font-size: 0.9em;
    color: gray;
    margin: 2px;
}

/* #space-detail-name-edit {
    display: flex;
    flex-direction: row;
} */
#space-detail-name {
    flex: 1;
}

.booking-status-action {
    width: auto;
    display: flex;
    align-items: center;
}

/* Rating Popup */
/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */


/* Rating Layout Begin*/
#rating-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 350px;
    
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display:none;
    align-items: center;
    justify-content: center;
    /* transform: scale(0);
    transition: transform .5s ease, height .2s ease; */
    margin: auto;
    z-index: 10;
}

.icon-close-rating {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 4px;
    margin-right: 4px;
    font-size: 2em;
    align-items: center;
}
.form-box {
    width: 100%;
    padding: 40px;
}
.form-box h3 {
    font-size: 1.5em;
    color: #162938;
    text-align: center; 
}
.form-box .input-box {
    position: relative;
    width: 100%;
    height: 100px;
    margin: 15px 5px 5px 5px;
    border-bottom: 2px solid #162938;
}

.input-box textarea {
    width: 100%;
    height: 100px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    /* padding: 0 35px 0 5px; */
}

.btn-rating-submit {
    width: 100%;
    height: 45px;
    margin-top: 10px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
/* Rating Layout End */
.rate-container {
    align-content: center;
}

